@using MOFO.Models
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Забравена парола? - Techip.bg";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/admin")
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-body p-4">
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {

                            @Html.AntiForgeryToken()
                        <center><h1>Забравена парола?</h1></center>
                            <p class="text-muted mt-4 mb-4">Необходимо е да въведете вашия имейл адрес, на който ще получите инструкции за възстановяване на паролата </p>
                            <div class="form-group mb-4">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control w-100", @style="max-width: unset", @placeholder = "Имейл" })

                            </div>
                            <button type="submit" class="btn btn-block btn-success">Напред</button>
                        }
                    </div>
                    <div class="card-footer p-4">
                        <div class="row">
                            <div class="col-12" style="text-align: center">
                                <a class="btn btn-light" href="@Url.Action("Login", "Account")" type="button">
                                    Обратно към Вход?
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/js/select2")
    @Scripts.Render("~/bundles/dashboard")
    @Scripts.Render("~/app/inputValidation")
    @Scripts.Render("~/main/registerSchool")
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
