@using MOFO.Models
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Успешно изпратен имейл за възстановяване на паролата - Techip.bg";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/admin")
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-body p-4">
                        <center><h1>Успешно изпратен имейл!</h1></center>
                        <p>Проверете вашата поща за имейл за потвърждение, който съдържа инструкции за възстановяване на паролата ви.</p>

                    </div>
                    <div class="card-footer p-4">
                        <div class="row">
                            <div class="col-12" style="text-align: center">
                                <a class="btn btn-light" href="@Url.Action("Login", "Account")" type="button">
                                    Обратно към Вход?
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/js/select2")
    @Scripts.Render("~/bundles/dashboard")
    @Scripts.Render("~/app/inputValidation")
    @Scripts.Render("~/main/registerSchool")
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
